<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Kurzprofil</h2>
    <p>
      Name des Lehrers: <%= @teacher_name %><br/>
      Schule: <%= @school %><br/>
      Art der Veranstaltung: <%= @event %><br/>
      Datum und Uhrzeit: <%= @appointment %><br/>
      E-Mail: <a href="<%= @teacher_email %>"><%= @teacher_email %></a><br/>
    </p>
    <h2>Original-Nachricht</h2>
    <p>
      <%= @message %>
    </p>
  </body>
</html>